<main id="cocktails-index">
    <h1>All The Cocktails</h1>
    <section class="card-deck">
        <% @cocktails.each do |cocktail| %>
        <div class="card">
            <h5><%= cocktail.name %></h5>
            <p><%= cocktail.instructions %></p>
            <%= link_to "See more", cocktail_path(cocktail.id) %>
        </div>
        <% end %>
    </section>
</main>