<nav>
    <%# <a href="http://localhost:3000/cocktails">Home</a> %>
    <%= link_to "Home", cocktails_path %>
    <%# <a href="http://localhost:3000/cocktails/new">Create a Cocktail</a> %>
    <%= link_to "Create a cocktail", new_cocktail_path %>
</nav>